*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', serif;
    position: relative;
    margin: 0px;
    padding: 0px;
}

body:before {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    background-color: #63b949;
    top: 12px;
    left: 0px;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clear::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}

.invisLink {
    position: relative;
    z-index: 1;
}

.invisLink > a {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}

a, button {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.table {
    display: table;
    width: 100%;
}

.tCell {
    display: table-cell;
}

button {
    border: none;
    cursor: pointer;
}

header {
    padding-top: 20px;
    padding-bottom: 20px;
}

header .left,
header .logo,
header .right {
    vertical-align: top;
}

header .left {
    padding-top: 5px;
    width: 33%;
}

header .logo {
    width: 33%;
    text-align: center;
}

header .right {
    width: 34%;
    text-align: right;
    padding-top: 5px;
}

header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}

header .login:hover {
    text-decoration-color: transparent;
}

header .menu {
    margin-top: 35px;
    padding-right: 20px;
}

header .menu li {
    display: inline-block;
    margin-right: 18px;
}

header .menu li a {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

.menu li a:hover {
    text-decoration-color: transparent;
}

.logo {
}

header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}

header .phone:hover {
    opacity: 0.7;
}

header .callback {
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
    display: table;
    margin-left: auto;
    margin-top: 5px;
}

header p.timing {
    font-size: 13px;
    line-height: 19px;
    display: block;
    color: #999999;
    margin-top: 15px;
}

header p.timing span {
    display: block;
    font-size: 13px;
    line-height: 19px;
    display: block;
    color: #999999;
}

header .basket {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 20px;
}

header .basket span {
    color: #1a9547;
    font-size: 13px;
    line-height: 22px;
}

header [class*="icon"] {
    color: #caebd4;
}

header .login [class*="icon"] {
    font-size: 18px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 8px;
}

header .phone [class*="icon"] {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.banner .sale {
    width: 305px;
    height: 360px;
}

.banner .slider {
    width: 640px;
    height: 360px;
    position: relative;
}

.slides .item {
    height: 360px;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.dots {
    position: absolute;
    right: 15px;
    bottom: 10px;
    z-index: 1;
}

.dots button {
    padding: 0;
    width: 8px;
    height: 8px;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 50%;
}

.dots button + button {
    margin-left: 12px;
}

.dots button.active {
    opacity: 1;
}

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.advSub {
    padding-top: 25px;
    padding-bottom: 25px;
}

.advanteges {
    width: calc(100% - 320px);
    float: left;
}

.advanteges .item {
    width: 25%;
    float: left;
    padding-right: 45px;
}

.advanteges .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
    display: block;
    width: 100px;
    margin-top: 20px;
}

.advanteges .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
    display: block;
    margin-top: 10px;
}

.subscribe {
    width: 320px;
    float: left;
    background-color: #63b94a;
    padding: 20px;
}

.subscribe .wrapper {
    display: table;
    width: 100%;
    margin-top: 10px;
}

.subscribe label {
    font-size: 16px;
    color: #ffffff;
}

.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    width: 100%;
    margin-top: 15px;
    padding-left: 12px;
    border: none;
}

.subscribe button {
    font-size: 13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    background-color: #259c47;
    width: 188px;
    border: none;
}

.subscribe .wrapper span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}

.filter {
    padding-bottom: 35px;
}

.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
}

.filter li + li {
    margin-left: 18px;
}

.filter li a {
    text-decoration: none;
    color: #666666;
}

.card {
    position: relative;
    z-index: 1;
}

.thumbnail {
    position: absolute;
    display: none;
    top: -12px;
    right: -12px;
    padding: 11px;
    width: 313px;
    height: 356px;
    background-color: #fff;
    border: 1px solid #e1e1e1;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.thumbnail .pic {
    margin-bottom: 10px;
    width: 53px;
    height: 53px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail .pic.active {
    border: 1px solid #259c47;
}

.status {
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.status.hit {
    background-color: #6eddcc;
}

.status.discount {
    background-color: #ffed03;
}

.status.new {
    background-color: #78ec71;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.card .content {
    min-height: 110px;
    padding-top: 10px;
}

.card {
    position: relative;
    border-bottom: 1px solid #e4e4e4;
}

.card .buy {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    padding-bottom: 10px;
}

.card .title {
    display: block;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.card .img {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card .name {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}

.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}

.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    color: #333333;
}

.card .price .old {
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;
    text-decoration: line-through;
    color: #666666;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.card button {
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #ff7200;
    float: right;
    width: 100px;
}

.widjets h1 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
    padding-top: 65px;
    padding-bottom: 55px;
}

.widjets .wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.widjets .item:nth-child(1),
.widjets .item:last-child {
    width: 290px;
    height: 400px;
}

.widjets .item:nth-child(2) {
    width: 350px;
    height: 400px;
}

.widjets .item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tabs li a {
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}

.info .ui-tabs {
    padding: 0;
}

.info .ui-tabs .ui-tabs-nav {
    padding: 0;
}

.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
    padding-bottom: 20px;
}

.info .ui-tabs .ui-tabs-nav li {
    margin: 0;
}

.info .tabs a {
    display: block;
    font-size: 14px;
    color: #999999;
    text-decoration: none;
    padding: 0 15px;
    outline: none;
    height: 45px;
    line-height: 45px;
}

.info.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin: 0;
    padding: 0;
}

.info.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0 15px;
}

.info.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.info .tabs li.ui-tabs-active a,
.info .tabs li a:hover {
    border: none;
    background-color: #f2fff7;
    color: #1c9847;
    cursor: pointer;
}

.info .content {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}

.info .title {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-left: 25px;
    padding-bottom: 30px;

}

.info .title::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-top: 5px solid #333333;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    top: 5px;
    left: 0;
}

.info .title.active::before {
    transform: rotate(180deg);
}

.info .title-wrapp {
    /*padding-left: 45px;*/
    /*padding-bottom: 30px;*/
}
.info .title-wrapp p {
    padding: 15px 45px;
}
footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}

.footMenu {
    width: 50%;
    float: left;
}
.footMenu .col {
    width: 50%;
    float: left;
}

.footCont {
    width: 25%;
    float: left;
}

.copyright {
    width: 25%;
    float: left;
    text-align: right;
}
footer a {
    text-decoration: none;
    color: #ffffff;
}

footer a.soc {
    font-size: 21px;
}

.up {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

/*новости подробно*/
.breadCrumbs li a, .breadCrumbs li {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
    text-decoration: none;
}

.firstCap {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.secCap {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}

.newsDate {
    font-size: 12px;
    line-height: 22px;
    color: #aaaaaa;
}

.newTxt {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.moreNews {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}

/*корпоративным клиентам*/
.breadcrumbs li {
    font-size: 12px;
    line-height: 22px;
    color: #999999;
}

.breadcrumbs a {
    text-decoration: none;
    color: #999999;
}

.wrapper .left p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.wrapper form label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.formLog span:nth-child(1) {
    font-size: 13px;
    line-height: normal;
    color: #333333;
}

.formLog span:nth-child(2) {
    font-size: 11px;
    line-height: normal;
    color: #999999;
}

.radio-wrapper ul label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: normal;
}

.wrapper .formFile label {
    font-size: 13px;
    line-height: 22px;
    color: #229647;
    font-style: normal;
    text-decoration: underline;
}

.formFile span {
    font-size: 11px;
    line-height: normal;
    color: #999999;
}

.formQua option {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

form button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.right span {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

.right p {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.right button {
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

/*оформление заказа*/
h1 {
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

.form-order label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.form-order option {
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}

.selectB1 {
    width: 290px;
}

.selectB1 .selectric {
    width: 100%;
    height: 28px;
    background-color: #fff;
    border: 1px solid #d6d6d6;
}

.selectB1 .selectric label {
    font-size: 13px;
    line-height: 28px;
    color: #333333;
}

.selectric .label {
    line-height: 28px;
}

.selectB1 .selectric .button {
    position: absolute;
    right: 7px;
    top: 50%;
    width: 0px;
    height: 0px;
    border-top: 7px solid #00a48c;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-top: -2px;
    background-color: transparent;
}

.selectB1 .selectric .button::after {
    display: none;
}

.selectB1 .selectric-items {
    border: 1px solid #d6d6d6;
}

.selectB1 .selectric-items li {
    padding: 0;
    padding-left: 10px;
    font-size: 13px;
    line-height: 26px;
    color: #333333;
    background-color: #fff;
}

.selectB1 .selectric-items li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
}


.order-way label {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.order-way p {
    font-size: 12px;
    line-height: 18px;
    color: #666666;
}

.order-way span {
    font-size: 12px;
    line-height: 18px;
    color: #f26522;
}

.order-address label {
    font-size: 13px;
    line-height: 22px;
    color: #666666;
    font-style: italic;
}

.order-address label span {
    color: #ed1c24;
}

.order-list li {
    padding-left: 40px;
}

.order-list label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}

.radio-btn {
    display: none;
}

.radio-btn:not(checked) + label::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}

.radio-btn:not(checked) + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    background-color: #51bf87;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
}

.radio-btn:checked + label::before {
    border-color: #51bf87;
}

.radio-btn:checked + label::after {
    opacity: 1;
}

.radio-btn + label {
    cursor: pointer;
}

@media (max-width: 1199px) {
    .container {
        width: 980px;
    }

    .banner .sale {
        height: 350px;
        width: 295px;
    }

    .banner .slider {
        height: 350px;
        width: 620px;
    }

    .advanteges {
        width: calc(100% - 300px);
    }

    .subscribe {
        width: 300px;
    }

    .card img {
        height: 215px;
    }

    .widjets {
        display: none;
    }
}

@media (max-width: 991px) {
    .container {
        width: 780px;
    }

    .

}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
}


